.wrapper-jouney {
    .wrapper-tabs-learning {
        display: flex;
        flex-wrap: wrap;

        .list-tab {
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: relative;
            margin-bottom: 40px;
            overflow-x: auto;

            @include Responsive(X15) {
                padding-bottom: 30px;
            }

            @include Responsive(SM) {
                margin-bottom: 45px;
                padding-bottom: 20px;
            }

            .tab-item {
                font-size: 20px;
                border-radius: 40px;
                padding: 16px 32px;
                cursor: pointer;
                color: $color_blue;
                border: 1px solid #90a4ae;
                transition: 0.5s ease;
                position: relative;
                min-width: 118px;
                text-align: center;

                // @include Responsive(X15){
                //     margin-right: 40px;
                //     min-width: 150px;
                // }

                @include Responsive(LG) {
                    margin-right: 40px;
                    min-width: 150px;
                }

                @include Responsive(SM) {
                    margin-right: 40px;
                    min-width: 120px;
                    padding: 6px 20px;
                }

                &::after {
                    transition: 2s;
                    content: "";
                    height: 1px;
                    background-color: #90a4ae;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                    z-index: -2;
                    left: 100%;
                }

                &::before {
                    position: absolute;
                    border-radius: 40px;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    animation-duration: 1s;
                    animation-delay: 0.1s;
                    background-color: white;
                }

                &.hiddenLeftToRight {
                    &::before {
                        background: linear-gradient(
                            to left,
                            $color_blue 50%,
                            white 50%
                        );
                        background-position: left bottom;
                        background-size: 200% 101%;
                        animation-name: backgroundSideOutRight;

                        @keyframes backgroundSideOutRight {
                            0% {
                                background-position: right bottom;
                            }
                            100% {
                                background-position: left bottom;
                            }
                        }
                    }
                }

                &.activeLeftToRight {
                    color: $color_yellow_2;

                    &::before {
                        background: linear-gradient(
                            to right,
                            $color_blue 50%,
                            white 50%
                        );
                        background-position: left bottom;
                        background-size: 200% 101%;
                        animation-name: backgroundSideInRight;

                        @keyframes backgroundSideInRight {
                            0% {
                                background-position: right bottom;
                            }
                            100% {
                                background-position: left bottom;
                            }
                        }
                    }
                }

                &.hiddenRightToLeft {
                    &::before {
                        background: linear-gradient(
                            to Right,
                            $color_blue 50%,
                            white 50%
                        );
                        background-position: Right bottom;
                        background-size: 200% 101%;
                        animation-name: backgroundSideOutLeft;

                        @keyframes backgroundSideOutLeft {
                            0% {
                                background-position: left bottom;
                            }
                            100% {
                                background-position: right bottom;
                            }
                        }
                    }
                }

                &.activeRightToLeft {
                    color: $color_yellow_2;

                    &::before {
                        background: linear-gradient(
                            to left,
                            $color_blue 50%,
                            white 50%
                        );
                        background-position: right bottom;
                        background-size: 200% 101%;
                        animation-name: backgroundSideInLeft;

                        @keyframes backgroundSideInLeft {
                            0% {
                                background-position: left bottom;
                            }
                            100% {
                                background-position: right bottom;
                            }
                        }
                    }
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }

        .tabs-content {
            width: 100%;
            margin: 0 auto;
            min-height: 565px;
            position: relative;

            @include Responsive(MD) {
                min-height: 670px;
            }

            .tab {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
                position: relative;

                .wrapper-image {
                    width: 50%;
                    position: relative;
                    @include Responsive(SM) {
                        width: 100%;
                    }

                    .image-content {
                        width: 100%;
                        position: relative;
                        padding: 0 30px;

                        img {
                        }

                        .tongquan-img {
                            position: absolute;
                            bottom: 4px;
                            right: 2px;
                        }
                    }

                    .trophy-jouney,
                    .star-jouney,
                    .lightbulb-jouney {
                        position: absolute;
                        img {
                            width: 100%;
                        }
                    }

                    .lightbulb-jouney {
                        width: 18%;
                    }

                    .star-jouney {
                        width: 12%;
                    }

                    .trophy-jouney {
                        width: 12%;
                    }
                }

                &.tab1 {
                    .lightbulb-jouney {
                        top: 0;
                        left: 6%;
                    }

                    .star-jouney {
                        top: -5%;
                        right: 28%;
                    }

                    .trophy-jouney {
                        top: 20%;
                        right: 2%;
                    }
                }

                &.tab2 {
                    .lightbulb-jouney {
                        top: 90px;
                        left: -2%;
                    }

                    .star-jouney {
                        top: 2%;
                        right: 5%;
                    }

                    .trophy-jouney {
                        top: 65%;
                        right: 0%;
                    }
                }

                &.tab3 {
                    .lightbulb-jouney {
                        top: 9px;
                        left: 75%;

                        img {
                            transform: scaleX(-1);
                        }
                    }

                    .star-jouney {
                        top: 2%;
                        right: 80%;

                        img {
                            transform: scaleY(-1);
                        }
                    }

                    .trophy-jouney {
                        top: 65%;
                        right: 90%;

                        img {
                            transform: scaleX(-1);
                        }
                    }
                }

                &.tab4 {
                    .lightbulb-jouney {
                        top: 70%;
                        left: 88%;

                        img {
                            transform: scaleX(-1);
                        }
                    }

                    .star-jouney {
                        top: 0%;
                        right: 15%;

                        img {
                            transform: rotate(30deg) scaleY(-1);
                        }
                    }

                    .trophy-jouney {
                        top: 50%;
                        right: 90%;

                        img {
                            transform: scaleX(-1);
                        }
                    }
                }

                &.tab5 {
                    .lightbulb-jouney {
                        top: 70%;
                        left: 88%;

                        img {
                            transform: scaleX(-1);
                        }
                    }

                    .star-jouney {
                        top: 0%;
                        right: 15%;

                        img {
                            transform: rotate(30deg) scaleY(-1);
                        }
                    }

                    .trophy-jouney {
                        top: 50%;
                        right: 90%;

                        img {
                            transform: scaleX(-1);
                        }
                    }
                }

                &.tab6 {
                    .lightbulb-jouney {
                        top: 40%;
                        left: 88%;

                        img {
                            transform: scaleX(-1);
                        }
                    }

                    .star-jouney {
                        top: 4%;
                        right: 80%;

                        img {
                            transform: rotate(20deg) scaleY(-1);
                        }
                    }

                    .trophy-jouney {
                        top: 60%;
                        right: 90%;

                        img {
                            transform: scaleX(-1);
                        }
                    }
                }

                &.tab7 {
                    .lightbulb-jouney {
                        top: 60%;
                        right: 90%;
                    }

                    .star-jouney {
                        top: 4%;
                        right: 80%;

                        img {
                            transform: rotate(20deg) scaleY(-1);
                        }
                    }

                    .trophy-jouney {
                        top: 40%;
                        left: 88%;
                    }
                }

                &.tab8 {
                    .lightbulb-jouney {
                        top: 70%;
                        left: 88%;

                        img {
                            transform: scaleX(-1);
                        }
                    }

                    .star-jouney {
                        top: 0%;
                        right: 15%;

                        img {
                            transform: rotate(30deg) scaleY(-1);
                        }
                    }

                    .trophy-jouney {
                        top: 50%;
                        right: 90%;

                        img {
                            transform: scaleX(-1);
                        }
                    }
                }

                &.tab9 {
                    .lightbulb-jouney {
                        top: 60%;
                        right: 90%;
                    }

                    .star-jouney {
                        top: 4%;
                        right: 80%;

                        img {
                            transform: rotate(20deg) scaleY(-1);
                        }
                    }

                    .trophy-jouney {
                        top: 40%;
                        left: 88%;
                    }
                }

                &.tab10 {
                    .lightbulb-jouney {
                        top: 40%;
                        left: 88%;

                        img {
                            transform: scaleX(-1);
                        }
                    }

                    .star-jouney {
                        top: 4%;
                        right: 80%;

                        img {
                            transform: rotate(20deg) scaleY(-1);
                        }
                    }

                    .trophy-jouney {
                        top: 60%;
                        right: 90%;

                        img {
                            transform: scaleX(-1);
                        }
                    }
                }

                .wrapper-content {
                    width: 45%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    @include Responsive(SM) {
                        width: 100%;
                        position: static;
                    }

                    .title-content {
                        margin-bottom: 47px;
                        position: relative;
                        font-size: 48px;
                        line-height: 106%;
                        font-weight: 700;
                        color: white;
                        text-shadow: #eb9cc3 9px 0px 0px,
                            #eb9cc3 8.9445px 0.997944px 0px,
                            #eb9cc3 8.77869px 1.98358px 0px,
                            #eb9cc3 8.50461px 2.94475px 0px,
                            #eb9cc3 8.12565px 3.86961px 0px,
                            #eb9cc3 7.64647px 4.74674px 0px,
                            #eb9cc3 7.07299px 5.56533px 0px,
                            #eb9cc3 6.41227px 6.31528px 0px,
                            #eb9cc3 5.67248px 6.98735px 0px,
                            #eb9cc3 4.86272px 7.57324px 0px,
                            #eb9cc3 3.99299px 8.06573px 0px,
                            #eb9cc3 3.07402px 8.45875px 0px,
                            #eb9cc3 2.11714px 8.74744px 0px,
                            #eb9cc3 1.13414px 8.92825px 0px,
                            #eb9cc3 0.137162px 8.99895px 0px,
                            #eb9cc3 -0.861512px 8.95867px 0px,
                            #eb9cc3 -1.84956px 8.8079px 0px,
                            #eb9cc3 -2.8148px 8.5485px 0px,
                            #eb9cc3 -3.74532px 8.18368px 0px,
                            #eb9cc3 -4.62965px 7.71792px 0px,
                            #eb9cc3 -5.45689px 7.15698px 0px,
                            #eb9cc3 -6.21682px 6.50777px 0px,
                            #eb9cc3 -6.90009px 5.77831px 0px,
                            #eb9cc3 -7.49825px 4.97757px 0px,
                            #eb9cc3 -8.00394px 4.11545px 0px,
                            #eb9cc3 -8.41092px 3.20258px 0px,
                            #eb9cc3 -8.71416px 2.2502px 0px,
                            #eb9cc3 -8.90993px 1.27008px 0px,
                            #eb9cc3 -8.99582px 0.274291px 0px,
                            #eb9cc3 -8.97076px -0.72488px 0px,
                            #eb9cc3 -8.83507px -1.71511px 0px,
                            #eb9cc3 -8.59041px -2.68419px 0px,
                            #eb9cc3 -8.23981px -3.62017px 0px,
                            #eb9cc3 -7.78758px -4.51149px 0px,
                            #eb9cc3 -7.23931px -5.34718px 0px,
                            #eb9cc3 -6.60176px -6.11692px 0px,
                            #eb9cc3 -5.88279px -6.81122px 0px,
                            #eb9cc3 -5.09127px -7.42152px 0px,
                            #eb9cc3 -4.23696px -7.94029px 0px,
                            #eb9cc3 -3.33039px -8.36113px 0px,
                            #eb9cc3 -2.38275px -8.67885px 0px,
                            #eb9cc3 -1.40572px -8.88954px 0px,
                            #eb9cc3 -0.411357px -8.99059px 0px,
                            #eb9cc3 0.58808px -8.98077px 0px,
                            #eb9cc3 1.58026px -8.86018px 0px,
                            #eb9cc3 2.55296px -8.63032px 0px,
                            #eb9cc3 3.49417px -8.29402px 0px,
                            #eb9cc3 4.39229px -7.85543px 0px,
                            #eb9cc3 5.23623px -7.31996px 0px,
                            #eb9cc3 6.0156px -6.69422px 0px,
                            #eb9cc3 6.72078px -5.98591px 0px,
                            #eb9cc3 7.34307px -5.20378px 0px,
                            #eb9cc3 7.87479px -4.35748px 0px,
                            #eb9cc3 8.3094px -3.45743px 0px,
                            #eb9cc3 8.64153px -2.51474px 0px,
                            #eb9cc3 8.86709px -1.54104px 0px,
                            #eb9cc3 8.98328px -0.548328px 0px;

                        @include Responsive(SM) {
                            margin-top: 21px;
                            margin-bottom: 22px;
                            font-size: 20px;
                            text-align: center;
                        }

                        &:after {
                            content: attr(data-char);
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            color: #eb9cc3;
                            top: 7px;
                            left: 4px;
                            z-index: -1;
                            text-shadow: #eb9cc3 13px 0px 0px,
                                #eb9cc3 12.9616px 0.999014px 0px,
                                #eb9cc3 12.8465px 1.99212px 0px,
                                #eb9cc3 12.6554px 2.97344px 0px,
                                #eb9cc3 12.3895px 3.93718px 0px,
                                #eb9cc3 12.0503px 4.87763px 0px,
                                #eb9cc3 11.6398px 5.78924px 0px,
                                #eb9cc3 11.1605px 6.66661px 0px,
                                #eb9cc3 10.6152px 7.50454px 0px,
                                #eb9cc3 10.0071px 8.2981px 0px,
                                #eb9cc3 9.3398px 9.04258px 0px,
                                #eb9cc3 8.61728px 9.73357px 0px,
                                #eb9cc3 7.8438px 10.367px 0px,
                                #eb9cc3 7.02393px 10.9391px 0px,
                                #eb9cc3 6.16252px 11.4465px 0px,
                                #eb9cc3 5.26466px 11.8863px 0px,
                                #eb9cc3 4.33566px 12.2557px 0px,
                                #eb9cc3 3.38103px 12.5526px 0px,
                                #eb9cc3 2.40639px 12.7753px 0px,
                                #eb9cc3 1.41753px 12.9225px 0px,
                                #eb9cc3 0.420279px 12.9932px 0px,
                                #eb9cc3 -0.579456px 12.9871px 0px,
                                #eb9cc3 -1.57576px 12.9041px 0px,
                                #eb9cc3 -2.56275px 12.7449px 0px,
                                #eb9cc3 -3.53458px 12.5103px 0px,
                                #eb9cc3 -4.48551px 12.2016px 0px,
                                #eb9cc3 -5.40991px 11.8209px 0px,
                                #eb9cc3 -6.30231px 11.3702px 0px,
                                #eb9cc3 -7.15744px 10.8522px 0px,
                                #eb9cc3 -7.97024px 10.2701px 0px,
                                #eb9cc3 -8.7359px 9.62725px 0px,
                                #eb9cc3 -9.4499px 8.92745px 0px,
                                #eb9cc3 -10.108px 8.17486px 0px,
                                #eb9cc3 -10.7063px 7.37391px 0px,
                                #eb9cc3 -11.2413px 6.52935px 0px,
                                #eb9cc3 -11.7099px 5.64618px 0px,
                                #eb9cc3 -12.1091px 4.72961px 0px,
                                #eb9cc3 -12.4368px 3.78508px 0px,
                                #eb9cc3 -12.6909px 2.81815px 0px,
                                #eb9cc3 -12.8699px 1.83456px 0px,
                                #eb9cc3 -12.9728px 0.840119px 0px,
                                #eb9cc3 -12.999px -0.159292px 0px,
                                #eb9cc3 -12.9483px -1.15776px 0px,
                                #eb9cc3 -12.8211px -2.14938px 0px,
                                #eb9cc3 -12.618px -3.12829px 0px,
                                #eb9cc3 -12.3403px -4.0887px 0px,
                                #eb9cc3 -11.9896px -5.02492px 0px,
                                #eb9cc3 -11.568px -5.93143px 0px,
                                #eb9cc3 -11.078px -6.80286px 0px,
                                #eb9cc3 -10.5224px -7.63405px 0px,
                                #eb9cc3 -9.90465px -8.42009px 0px,
                                #eb9cc3 -9.2283px -9.15634px 0px,
                                #eb9cc3 -8.49737px -9.83843px 0px,
                                #eb9cc3 -7.71618px -10.4623px 0px,
                                #eb9cc3 -6.88936px -11.0244px 0px,
                                #eb9cc3 -6.0218px -11.5212px 0px,
                                #eb9cc3 -5.11862px -11.9499px 0px,
                                #eb9cc3 -4.18517px -12.3079px 0px,
                                #eb9cc3 -3.22696px -12.5931px 0px,
                                #eb9cc3 -2.24967px -12.8039px 0px,
                                #eb9cc3 -1.25908px -12.9389px 0px,
                                #eb9cc3 -0.261039px -12.9974px 0px,
                                #eb9cc3 0.738545px -12.979px 0px,
                                #eb9cc3 1.73376px -12.8839px 0px,
                                #eb9cc3 2.71872px -12.7125px 0px,
                                #eb9cc3 3.68761px -12.466px 0px,
                                #eb9cc3 4.63468px -12.1458px 0px,
                                #eb9cc3 5.55435px -11.7537px 0px,
                                #eb9cc3 6.44116px -11.2921px 0px,
                                #eb9cc3 7.28988px -10.7637px 0px,
                                #eb9cc3 8.09548px -10.1717px 0px,
                                #eb9cc3 8.85321px -9.51949px 0px,
                                #eb9cc3 9.55858px -8.81099px 0px,
                                #eb9cc3 10.2074px -8.05039px 0px,
                                #eb9cc3 10.7959px -7.24217px 0px,
                                #eb9cc3 11.3205px -6.39112px 0px,
                                #eb9cc3 11.7782px -5.50227px 0px,
                                #eb9cc3 12.1662px -4.58088px 0px,
                                #eb9cc3 12.4822px -3.6324px 0px,
                                #eb9cc3 12.7244px -2.66244px 0px,
                                #eb9cc3 12.8914px -1.67673px 0px,
                                #eb9cc3 12.9821px -0.681097px 0px;
                        }

                        &:before {
                            content: attr(data-char);
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 11px;
                            left: 10px;
                            z-index: -1;
                            text-shadow: #cfd8dc 13px 0px 0px,
                                #cfd8dc 12.9616px 0.999014px 0px,
                                #cfd8dc 12.8465px 1.99212px 0px,
                                #cfd8dc 12.6554px 2.97344px 0px,
                                #cfd8dc 12.3895px 3.93718px 0px,
                                #cfd8dc 12.0503px 4.87763px 0px,
                                #cfd8dc 11.6398px 5.78924px 0px,
                                #cfd8dc 11.1605px 6.66661px 0px,
                                #cfd8dc 10.6152px 7.50454px 0px,
                                #cfd8dc 10.0071px 8.2981px 0px,
                                #cfd8dc 9.3398px 9.04258px 0px,
                                #cfd8dc 8.61728px 9.73357px 0px,
                                #cfd8dc 7.8438px 10.367px 0px,
                                #cfd8dc 7.02393px 10.9391px 0px,
                                #cfd8dc 6.16252px 11.4465px 0px,
                                #cfd8dc 5.26466px 11.8863px 0px,
                                #cfd8dc 4.33566px 12.2557px 0px,
                                #cfd8dc 3.38103px 12.5526px 0px,
                                #cfd8dc 2.40639px 12.7753px 0px,
                                #cfd8dc 1.41753px 12.9225px 0px,
                                #cfd8dc 0.420279px 12.9932px 0px,
                                #cfd8dc -0.579456px 12.9871px 0px,
                                #cfd8dc -1.57576px 12.9041px 0px,
                                #cfd8dc -2.56275px 12.7449px 0px,
                                #cfd8dc -3.53458px 12.5103px 0px,
                                #cfd8dc -4.48551px 12.2016px 0px,
                                #cfd8dc -5.40991px 11.8209px 0px,
                                #cfd8dc -6.30231px 11.3702px 0px,
                                #cfd8dc -7.15744px 10.8522px 0px,
                                #cfd8dc -7.97024px 10.2701px 0px,
                                #cfd8dc -8.7359px 9.62725px 0px,
                                #cfd8dc -9.4499px 8.92745px 0px,
                                #cfd8dc -10.108px 8.17486px 0px,
                                #cfd8dc -10.7063px 7.37391px 0px,
                                #cfd8dc -11.2413px 6.52935px 0px,
                                #cfd8dc -11.7099px 5.64618px 0px,
                                #cfd8dc -12.1091px 4.72961px 0px,
                                #cfd8dc -12.4368px 3.78508px 0px,
                                #cfd8dc -12.6909px 2.81815px 0px,
                                #cfd8dc -12.8699px 1.83456px 0px,
                                #cfd8dc -12.9728px 0.840119px 0px,
                                #cfd8dc -12.999px -0.159292px 0px,
                                #cfd8dc -12.9483px -1.15776px 0px,
                                #cfd8dc -12.8211px -2.14938px 0px,
                                #cfd8dc -12.618px -3.12829px 0px,
                                #cfd8dc -12.3403px -4.0887px 0px,
                                #cfd8dc -11.9896px -5.02492px 0px,
                                #cfd8dc -11.568px -5.93143px 0px,
                                #cfd8dc -11.078px -6.80286px 0px,
                                #cfd8dc -10.5224px -7.63405px 0px,
                                #cfd8dc -9.90465px -8.42009px 0px,
                                #cfd8dc -9.2283px -9.15634px 0px,
                                #cfd8dc -8.49737px -9.83843px 0px,
                                #cfd8dc -7.71618px -10.4623px 0px,
                                #cfd8dc -6.88936px -11.0244px 0px,
                                #cfd8dc -6.0218px -11.5212px 0px,
                                #cfd8dc -5.11862px -11.9499px 0px,
                                #cfd8dc -4.18517px -12.3079px 0px,
                                #cfd8dc -3.22696px -12.5931px 0px,
                                #cfd8dc -2.24967px -12.8039px 0px,
                                #cfd8dc -1.25908px -12.9389px 0px,
                                #cfd8dc -0.261039px -12.9974px 0px,
                                #cfd8dc 0.738545px -12.979px 0px,
                                #cfd8dc 1.73376px -12.8839px 0px,
                                #cfd8dc 2.71872px -12.7125px 0px,
                                #cfd8dc 3.68761px -12.466px 0px,
                                #cfd8dc 4.63468px -12.1458px 0px,
                                #cfd8dc 5.55435px -11.7537px 0px,
                                #cfd8dc 6.44116px -11.2921px 0px,
                                #cfd8dc 7.28988px -10.7637px 0px,
                                #cfd8dc 8.09548px -10.1717px 0px,
                                #cfd8dc 8.85321px -9.51949px 0px,
                                #cfd8dc 9.55858px -8.81099px 0px,
                                #cfd8dc 10.2074px -8.05039px 0px,
                                #cfd8dc 10.7959px -7.24217px 0px,
                                #cfd8dc 11.3205px -6.39112px 0px,
                                #cfd8dc 11.7782px -5.50227px 0px,
                                #cfd8dc 12.1662px -4.58088px 0px,
                                #cfd8dc 12.4822px -3.6324px 0px,
                                #cfd8dc 12.7244px -2.66244px 0px,
                                #cfd8dc 12.8914px -1.67673px 0px,
                                #cfd8dc 12.9821px -0.681097px 0px;
                        }
                    }

                    .typogaphic {
                        font-family: $font_content_2;
                        font-weight: 400;
                        font-size: 18px;
                        letter-spacing: 0.25px;
                        text-align: left;
                        line-height: 28px;
                        color: black;

                        @include Responsive(SM) {
                            font-size: 12px;
                        }
                    }
                }
            }

            [data-tab-content] {
                display: none;
            }
            .active[data-tab-content] {
                display: flex;
            }
        }

        .icon-rocket {
            position: absolute;
            top: 50px;
            left: 130px;
            height: 120px;
            width: 120px;
            opacity: 30%;
        }
    }

    .box-title-main {
        max-width: 866px;
        margin: 0 auto;
        .title-main {
            line-height: 54px;
        }
    }
}

.btn-direct-group {
    position: absolute;
    max-width: 1300px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    left: -50%;
    right: -50%;
    margin: 0 auto;
    z-index: 10;

    @include Responsive(LG) {
        width: 100%;
    }

    @include Responsive(SM) {
        top: 40%;
    }

    a {
        img {
            width: 23px;
        }
    }
}
}